// Global classes file.
// Keep all generic or reusable classes in this file.


.c-outer {
  display: table;
}

.c-middle {
  display: table-cell;
  vertical-align: middle;
}

.c-inner {
  margin-left: auto;
  margin-right: auto; 
}


.nav {
  position: relative;

  font-family: $nav-font-family;
  font-weight: $nav-font-weight;
  font-size: $nav-font-size;
  line-height: $nav-height;
  padding: 0;

  background-color: $nav-bg-color;

  width: 100%;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);

  %nav-group {
    height: $nav-height;
    // padding: ($nav-height - $nav-line-height)/2 0;

    ul, ol {
      list-style: none;
      padding: 0;
      margin: 0;

      a, li {
        display: inline-block;
        height: $nav-height;
      }

      a {
        padding: 0 5px;
      }

      li {
        border-bottom: $nav-border-size $nav-bg-color solid;
      }

      a, a:link, a:visited {
        height: $nav-height;
        color: $nav-text-color;
        text-decoration: none;

      }

      li:hover, li:focus {
        background: white;
      }
    }
  }

  .nav-left {
    @extend %nav-group;

    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width: $screen-tablet-max) {
      display: none;
    }
  }

  .nav-mid {
    @extend %nav-group;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    border-bottom: $nav-border-size $nav-bg-color solid;

    @media screen and (max-width: $screen-mobile-max) {
      width: 100%;

      ul, ol {
        display: table;
        width: 100%;

        li {
          display: table-cell;

          text-align: center;
        }

        a {
          display: block;
          padding: 0;
        }
      }

      .text {
        display: none;
      }
    }

    @media screen and (min-width: $screen-tablet-min) {
      i {
        display: none;
      }
    }

    ul, ol {
      li.active {
        background: $nav-active-color;
        border-color: $palette-light-lilac;
      }
      li.active ~ li.active {
        background: $nav-bg-color;
        border-color: $nav-bg-color;
      }
    }
  }

  .nav-right {
    @extend %nav-group;

    position: absolute;
    right: 0;
    top: 0;

    @media screen and (max-width: $screen-tablet-max) {
      display: none;
    }
  }
}

.nav-fixed-top {
  position: fixed;
  top: 0;
}

.nav-fixed-bottom {
  position: fixed;
  bottom: 0;
}

.anchor {
  display: block;
  position: relative;
  top: -$nav-height;

  visibility: hidden;
}

.anchor-nav {
  @extend .anchor;

  top: 0;
}

.wide {
  @media screen and (max-width: $screen-thin) {
    display: none;
  }
}

.thin {
  @media screen and (min-width: $screen-wide) {
    display: none;
  }
}


.contained {
  display: block;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: $screen-mobile-max) {
    max-width: $container-mobile-max;
  }
  @media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    max-width: $container-tablet-max;
  }
  @media screen and (min-width: $screen-laptop-min) {
    max-width: $container-laptop-max;
  }
}

.footer {
  padding: 20px 30px 50px;
  overflow-x: scroll;

  table {
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 5px;
    border-collapse: separate;

    td {
      vertical-align: top;
      word-wrap: break-word;
      
      min-width: 150px;
      width: 200px;

      .footer-section-title {
        font-weight: bold;
        margin: 10px 0 0;
        color: $text-white;
      }

      ul {
        list-style: none;
        padding-left: 10px;
        margin: 5px 0;

        li {
          margin: 5px;

          a {
            color: $text-white;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.footer::-webkit-scrollbar { 
    display: none; 
}
