// Global classes file.
// Keep all generic or reusable classes in this file.


.c-outer {
  display: table;
}

.c-middle {
  display: table-cell;
  vertical-align: middle;
}

.c-inner {
  margin-left: auto;
  margin-right: auto; 
}


.nav {
  position: relative;

  font-family: $nav-font-family;
  font-weight: $nav-font-weight;
  font-size: $nav-font-size;
  line-height: $nav-height;
  padding: 0;

  width: 100%;

  %nav-group {
    height: $nav-height;
    // padding: ($nav-height - $nav-line-height)/2 0;

    ul, ol {
      list-style: none;
      padding: 0;
      margin: 0;

      a, li {
        display: inline-block;
        height: $nav-height;
      }

      a {
        padding: 0 10px;
      }

      a, a:link, a:visited {
        height: $nav-height;
        color: $nav-text-color;
        text-decoration: none;

      }

      li:hover, li:focus {
        background: white;
      }
    }
  }

  .nav-left {
    @extend %nav-group;

    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width: 735px) {
      display: none;
    }
  }

  .nav-mid {
    @extend %nav-group;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 460px) {
      width: 100%;

      ul, ol {
        display: table;
        width: 100%;

        li {
          display: table-cell;

          text-align: center;
        }

        a {
          display: block;
          padding: 0;
        }
      }

      .text {
        display: none;
      }
    }

    @media screen and (min-width: 461px) {
      .icon {
        display: none;
      }
    }

    ul, ol {
      li.active {
        background: $nav-active-color;
      }
      li.active ~ li.active {
        background: $nav-bg-color;
      }
    }
  }

  .nav-right {
    @extend %nav-group;

    position: absolute;
    right: 0;
    top: 0;

    @media screen and (max-width: 735px) {
      display: none;
    }
  }
}

.nav-fixed-top {
  position: fixed;
  top: 0;
}

.nav-fixed-bottom {
  position: fixed;
  bottom: 0;
}

.anchor {
  display: block;
  position: relative;
  top: -$nav-height;

  visibility: hidden;
}

.anchor-nav {
  @extend .anchor;

  top: 0;
}
