// Global classes file.
// Keep all generic or reusable classes in this file.


.c-outer {
  display: table;
}

.c-middle {
  display: table-cell;
  vertical-align: middle;
}

.c-inner {
  margin-left: auto;
  margin-right: auto; 
}


.nav {

}
