// Styling for /index.html


.index {

  .cover {
    width: 100%;
    min-height: 100%;
    height: 1px;
    // position: absolute;
    // top: 0;
    // bottom: 0; 
    // left: 0; 
    // right: 0;

    padding-bottom: $nav-height;


    .face-center-container {
      // position: absolute;
      min-height: calc(100% - #{$nav-height});
      width: 100%;
    }

    .face-container {
      width: 280px;
      
      .face-image {
        width: 280px;
      }

      .face-caption {
        text-align: center;
        font-family: $lora-font-family;
        font-size: 24px;
      }
    }

    .nav {
      height: $nav-height;
      margin-bottom: -$nav-height;

      background-color: yellow;
    }
  }
  
}

