// Styling for /index.html

// Cover
$cover-min-height:        600px;
$cover-min-heightm:       400px;
$face-image-size:         240px;
$face-description-size:   960px;

$face-title-font-family:  $lora-font-family;
$face-title-font-weight:  $lora-font-normal;
$face-title-font-size:    48px;
$face-title-font-sizem:   40px;
$face-title-line-height:  50px;
$face-title-line-heightm: 42px;
$face-title-margin-top:   40px;
$face-title-margin-topm:  30px;
$face-descr-font-family:  $rale-font-family;
$face-descr-font-weight:  $rale-font-light;
$face-descr-font-size:    23px;
$face-descr-font-sizem:   19px;

$section-title-font-size: 26px;
$section-para-font-size:  20px;
$content-font-family:     $lora-font-family;

$contact-bg-url:          "https://media.tumblr.com/9ef30dfa645e5feb5fea3d71b8079ecb/tumblr_inline_momefhKB341qz4rgp.jpg";

$footer-bg-color:         $background-color;

.index {

  .cover {
    width: 100%;
    min-height: 100%;
    @media screen and (min-width: $screen-tablet-min) {
      height: $cover-min-height;
    }
    @media screen and (max-width: $screen-mobile-max) {
      height: $cover-min-heightm;
    }

    padding-bottom: $nav-height;


    .face-center-container {
      min-height: 100%;
      width: 100%;
    }

    .face-container {
      max-width: $face-description-size;
      width: 100%;
      
      .face-image {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: $face-image-size;
      }

      .face-title, .face-description {
        text-align: center;
        padding: 0 10px;
      }

      .face-title {
        font-family: $face-title-font-family;
        font-weight: $face-title-font-weight;
        text-decoration: underline;
        @media screen and (min-width: $screen-tablet-min) {
          margin: $face-title-margin-top 0 0 0;
          font-size: $face-title-font-size;
          line-height: $face-title-line-height;
        }
        @media screen and (max-width: $screen-mobile-max) {
          margin: $face-title-margin-topm 0 0 0;
          font-size: $face-title-font-sizem;
          line-height: $face-title-line-heightm;
        }
      }

      .face-description {
        font-family: $face-descr-font-family;
        margin: 0;
        font-weight: $face-descr-font-weight;

        @media screen and (min-width: $screen-tablet-min) {
          font-size: $face-descr-font-size;
        }
        @media screen and (max-width: $screen-mobile-max) {
          font-size: $face-descr-font-sizem;
        }
      }
    }

    .nav {
      height: $nav-height;
    }
  }

  #contact-sect {
    background: url($contact-bg-url) no-repeat center;
    background-size: cover;

    .contact-container {

      text-align: center;

      ul.contact-links {
        list-style: none;
        padding: 0;
        text-align: initial;

        @media screen and (min-width: $screen-tablet-min) {
          margin: 50px 20% 50px 10%;
          float: right;
        }

        @media screen and (max-width: $screen-mobile-max) {
          margin: 50px 0;
          display: inline-block;
        }

        li button, li a.button {
          padding-left: 40px;
          font-family: $lora-font-family;

          i {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .footer-sect {
    background-color: $footer-bg-color;
    overflow: hidden;

    .closing-sentence {
      color: $text-white;
      text-align: center;
      padding: 0 $global-leftright-pad;
    }
  }

  section.content {
    font-family: $content-font-family;

    p {
      padding: 0 10px;
    }

    p.section-title {
      padding: 0 20px;

      font-size: $section-title-font-size;
      text-align: center;
    }

    p.section-paragraph {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
      
      font-size: $section-para-font-size;
      text-align: center;
    }
  }
  
}
