// Styling for /index.html


.index {

  .cover {
    width: 100%;
    min-height: 100%;
    height: $cover-min-height;
    // position: absolute;
    // top: 0;
    // bottom: 0; 
    // left: 0; 
    // right: 0;

    padding-bottom: $nav-height;


    .face-center-container {
      // position: absolute;
      // min-height: calc(100% - #{$nav-height});
      min-height: 100%;
      width: 100%;
    }

    .face-container {
      width: $face-image-size;
      
      .face-image {
        width: $face-image-size;
      }

      .face-caption {
        text-align: center;
        font-family: $lora-font-family;
        font-size: $face-caption-font-size;
      }
    }

    .nav {
      height: $nav-height;
      // margin-bottom: -$nav-height;

      background-color: $nav-bg-color;

    }
  }
  
}
