@import url("//fonts.googleapis.com/css?family=Raleway:200,300,400,700|Inconsolata:400,700|Lora:400,700|Anonymous+Pro:400,700|Oxygen:300,400,700");
html {
  height: 100%; }

body:not(.notes) {
  margin: 0;
  height: 100%;
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  color: #303030; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section {
  overflow: hidden; }

a.button {
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  color: initial; }

a.button, button {
  min-width: 204px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 18px;
  background: rgba(102, 102, 135, 0.5);
  color: white;
  border: 2px white solid;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease; }

a.button:hover, button:hover {
  background: #66668B; }

hr {
  width: 70%; }

.c-outer {
  display: table; }

.c-middle {
  display: table-cell;
  vertical-align: middle; }

.c-inner {
  margin-left: auto;
  margin-right: auto; }

.nav {
  position: relative;
  overflow: hidden;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
  padding: 0;
  background-color: #F3F3F3;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .nav .nav-left, .nav .nav-mid, .nav .nav-right {
    height: 50px; }
    .nav .nav-left ul, .nav .nav-mid ul, .nav .nav-right ul, .nav .nav-left ol, .nav .nav-mid ol, .nav .nav-right ol {
      list-style: none;
      padding: 0;
      margin: 0; }
      .nav .nav-left ul a, .nav .nav-mid ul a, .nav .nav-right ul a, .nav .nav-left ul li, .nav .nav-mid ul li, .nav .nav-right ul li, .nav .nav-left ol a, .nav .nav-mid ol a, .nav .nav-right ol a, .nav .nav-left ol li, .nav .nav-mid ol li, .nav .nav-right ol li {
        display: inline-block;
        height: 50px; }
      .nav .nav-left ul a, .nav .nav-mid ul a, .nav .nav-right ul a, .nav .nav-left ol a, .nav .nav-mid ol a, .nav .nav-right ol a {
        padding: 0 5px; }
      .nav .nav-left ul li, .nav .nav-mid ul li, .nav .nav-right ul li, .nav .nav-left ol li, .nav .nav-mid ol li, .nav .nav-right ol li {
        border-bottom: 3px #F3F3F3 solid; }
      .nav .nav-left ul a, .nav .nav-mid ul a, .nav .nav-right ul a, .nav .nav-left ul a:link, .nav .nav-mid ul a:link, .nav .nav-right ul a:link, .nav .nav-left ul a:visited, .nav .nav-mid ul a:visited, .nav .nav-right ul a:visited, .nav .nav-left ol a, .nav .nav-mid ol a, .nav .nav-right ol a, .nav .nav-left ol a:link, .nav .nav-mid ol a:link, .nav .nav-right ol a:link, .nav .nav-left ol a:visited, .nav .nav-mid ol a:visited, .nav .nav-right ol a:visited {
        height: 50px;
        color: #303030;
        text-decoration: none; }
      .nav .nav-left ul li:hover, .nav .nav-mid ul li:hover, .nav .nav-right ul li:hover, .nav .nav-left ul li:focus, .nav .nav-mid ul li:focus, .nav .nav-right ul li:focus, .nav .nav-left ol li:hover, .nav .nav-mid ol li:hover, .nav .nav-right ol li:hover, .nav .nav-left ol li:focus, .nav .nav-mid ol li:focus, .nav .nav-right ol li:focus {
        background: white; }
  .nav .nav-left {
    position: absolute;
    left: 0;
    top: 0; }
    @media screen and (max-width: 735px) {
      .nav .nav-left {
        display: none; } }
  .nav .nav-mid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-bottom: 3px #F3F3F3 solid; }
    @media screen and (max-width: 460px) {
      .nav .nav-mid {
        width: 100%; }
        .nav .nav-mid ul, .nav .nav-mid ol {
          display: table;
          width: 100%; }
          .nav .nav-mid ul li, .nav .nav-mid ol li {
            display: table-cell;
            text-align: center; }
          .nav .nav-mid ul a, .nav .nav-mid ol a {
            display: block;
            padding: 0; }
        .nav .nav-mid .text {
          display: none; } }
    @media screen and (min-width: 461px) {
      .nav .nav-mid i {
        display: none; } }
    .nav .nav-mid ul li.active, .nav .nav-mid ol li.active {
      background: #E4E4E4;
      border-color: #C3C8E1; }
    .nav .nav-mid ul li.active ~ li.active, .nav .nav-mid ol li.active ~ li.active {
      background: #F3F3F3;
      border-color: #F3F3F3; }
  .nav .nav-right {
    position: absolute;
    right: 0;
    top: 0; }
    @media screen and (max-width: 735px) {
      .nav .nav-right {
        display: none; } }

.nav-fixed-top {
  position: fixed;
  top: 0; }

.nav-fixed-bottom {
  position: fixed;
  bottom: 0; }

.anchor, .anchor-nav {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden; }

.anchor-nav {
  top: 0; }

@media screen and (max-width: 845px) {
  .wide {
    display: none; } }

@media screen and (min-width: 846px) {
  .thin {
    display: none; } }

.contained {
  display: block;
  margin: 0 auto;
  width: 100%; }
  @media screen and (max-width: 460px) {
    .contained {
      max-width: 460px; } }
  @media screen and (min-width: 461px) and (max-width: 735px) {
    .contained {
      max-width: 735px; } }
  @media screen and (min-width: 736px) {
    .contained {
      max-width: 1200px; } }

.footer {
  padding: 20px 30px 50px;
  overflow-x: scroll; }
  .footer table {
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 5px;
    border-collapse: separate; }
    .footer table td {
      vertical-align: top;
      word-wrap: break-word;
      min-width: 150px;
      width: 200px; }
      .footer table td .footer-section-title {
        font-weight: bold;
        margin: 10px 0 0;
        color: #CFCFCF; }
      .footer table td ul {
        list-style: none;
        padding-left: 10px;
        margin: 5px 0; }
        .footer table td ul li {
          margin: 5px; }
          .footer table td ul li a {
            color: #CFCFCF;
            text-decoration: none; }
          .footer table td ul li a:hover {
            text-decoration: underline; }

.footer::-webkit-scrollbar {
  display: none; }

.row {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .row .col-laptop, .row .col-tablet, .row .col-mobile {
    display: block;
    text-align: center;
    vertical-align: top; }
    .row .col-laptop img, .row .col-tablet img, .row .col-mobile img {
      width: 100%; }
  @media screen and (min-width: 736px) {
    .row .col-laptop {
      display: table-cell; } }
  @media screen and (min-width: 736px) {
    .row .col-laptop.col-halign-l {
      padding-left: 30px;
      text-align: left; } }
  @media screen and (min-width: 736px) {
    .row .col-laptop.col-halign-r {
      padding-right: 30px;
      text-align: right; } }
  @media screen and (min-width: 736px) {
    .row .col-laptop.col-valign-m {
      vertical-align: middle; } }
  @media screen and (min-width: 736px) {
    .row .col-laptop.col-valign-b {
      vertical-align: bottom; } }
  @media screen and (min-width: 461px) {
    .row .col-tablet {
      display: table-cell; } }
  @media screen and (min-width: 461px) {
    .row .col-tablet.col-halign-l {
      padding-left: 20px;
      text-align: left; } }
  @media screen and (min-width: 461px) {
    .row .col-tablet.col-halign-r {
      padding-right: 20px;
      text-align: right; } }
  @media screen and (min-width: 461px) {
    .row .col-tablet.col-valign-m {
      vertical-align: middle; } }
  @media screen and (min-width: 461px) {
    .row .col-tablet.col-valign-b {
      vertical-align: bottom; } }
  .row .col-mobile {
    display: table-cell; }
    .row .col-mobile.col-halign-l {
      padding-left: 10px;
      text-align: left; }
    .row .col-mobile.col-halign-r {
      padding-right: 10px;
      text-align: right; }
    .row .col-mobile.col-valign-m {
      vertical-align: middle; }
    .row .col-mobile.col-valign-b {
      vertical-align: bottom; }

.index .cover {
  width: 100%;
  min-height: 100%;
  padding-bottom: 50px; }
  @media screen and (min-width: 461px) {
    .index .cover {
      height: 600px; } }
  @media screen and (max-width: 460px) {
    .index .cover {
      height: 400px; } }
  .index .cover .face-center-container {
    min-height: 100%;
    width: 100%; }
  .index .cover .face-container {
    max-width: 960px;
    width: 100%; }
    .index .cover .face-container .face-image {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 240px; }
    .index .cover .face-container .face-title, .index .cover .face-container .face-description {
      text-align: center;
      padding: 0 10px; }
    .index .cover .face-container .face-title {
      font-family: "Lora", serif;
      font-weight: 400;
      text-decoration: underline; }
      @media screen and (min-width: 461px) {
        .index .cover .face-container .face-title {
          margin: 40px 0 0 0;
          font-size: 48px;
          line-height: 50px; } }
      @media screen and (max-width: 460px) {
        .index .cover .face-container .face-title {
          margin: 30px 0 0 0;
          font-size: 40px;
          line-height: 42px; } }
    .index .cover .face-container .face-description {
      font-family: "Raleway", sans-serif;
      margin: 0;
      font-weight: 300; }
      @media screen and (min-width: 461px) {
        .index .cover .face-container .face-description {
          font-size: 23px; } }
      @media screen and (max-width: 460px) {
        .index .cover .face-container .face-description {
          font-size: 19px; } }
  .index .cover .nav {
    height: 50px; }
.index section.content {
  font-family: "Lora", serif; }
  .index section.content .section-item {
    margin: 20px 0; }
  .index section.content .section-title-container {
    overflow: hidden;
    background: linear-gradient(to right, white, #e3e3e3, #e3e3e3, #e3e3e3, white); }
  .index section.content p {
    padding: 0 10px; }
  .index section.content p.section-title {
    padding: 0 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #2D2D52; }
  .index section.content p.section-paragraph {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center; }
  .index section.content p.item-title {
    font-family: "Raleway", sans-serif;
    font-size: 23px;
    text-decoration: underline;
    margin-top: 5px; }
  .index section.content p.item-subtitle {
    margin-bottom: 0; }
  .index section.content p.item-description {
    font-size: 18px;
    margin: 0;
    padding: 0 20px; }
  .index section.content p.item-paragraph {
    font-size: 18px;
    padding: 0 20px; }
  .index section.content p.item-tags, .index section.content p.item-links {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 0 20px; }
  .index section.content img.waterloo {
    max-width: 300px; }
  .index section.content img {
    max-width: 450px; }
.index #contact-sect {
  background: url("//media.tumblr.com/9ef30dfa645e5feb5fea3d71b8079ecb/tumblr_inline_momefhKB341qz4rgp.jpg") no-repeat center;
  background-size: cover; }
  .index #contact-sect .contact-container {
    text-align: center; }
    .index #contact-sect .contact-container ul.contact-links {
      list-style: none;
      padding: 0;
      text-align: initial; }
      @media screen and (min-width: 461px) {
        .index #contact-sect .contact-container ul.contact-links {
          margin: 50px 20% 50px 10%;
          float: right; } }
      @media screen and (max-width: 460px) {
        .index #contact-sect .contact-container ul.contact-links {
          margin: 50px 0;
          display: inline-block; } }
      .index #contact-sect .contact-container ul.contact-links li button, .index #contact-sect .contact-container ul.contact-links li a.button {
        padding-left: 40px;
        font-family: "Lora", serif; }
        .index #contact-sect .contact-container ul.contact-links li button i, .index #contact-sect .contact-container ul.contact-links li a.button i {
          margin: 0 5px; }
.index .footer-sect {
  background-color: #2D2D52;
  overflow: hidden; }
  .index .footer-sect .closing-sentence {
    color: #CFCFCF;
    text-align: center;
    padding: 0 10px; }

.blog .container, .notes .container {
  margin-bottom: 0; }

.author-info {
  margin: 100px 0;
  background: #F0FDF4;
  border-radius: 5px;
  height: auto;
  overflow: hidden; }
  .author-info .image-column {
    max-width: 200px;
    width: 100%;
    padding: 20px; }
  .author-info .author-text {
    padding: 0 20px; }
    .author-info .author-text .author-name {
      margin-bottom: 0.7em; }

/* Small Screen */
@media screen and (max-width: 735px) {
  .author-info .image-column {
    display: block;
    margin: 0 auto; }

  .author-info .author-text {
    display: block;
    text-align: center; } }
/*Large Screen*/
@media screen and (min-width: 736px) {
  .author-info .image-column {
    float: left; }

  .author-info .author-text {
    float: none;
    width: auto;
    overflow: hidden;
    padding-right: 40px; }

  .author-info .author-text .author-name {
    margin-top: 1em; } }
.notes .sequence-diagram, .notes .flow-chart, .notes .MathJax_Display {
  overflow-x: scroll; }

/*# sourceMappingURL=style.css.map */
